@model LoginViewModel;

@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <br>
    <h4>Welcome back, Login to Proceed</h4>
    <hr style="width: 50%; margin-left: 25%;">

    <div style="padding-bottom: 25px;">
        <img src="~/images/mind-map.gif" style="width: 150px; height: 150px;" alt="">
    </div>

    <form asp-action="Login" method="post">
        @Html.AntiForgeryToken()

        <div class="mx-auto" style="width: 30%;">

            <div class="form-group" style="padding-bottom: 25px;">
                @* <label asp-for="Username"></label> *@
                <input asp-for="Username" placeholder="Email" class="form-control" />
            </div>

            <div class="form-group" style="padding-bottom: 25px;">
                @* <label asp-for="Password"></label> *@
                <input asp-for="Password" placeholder="Password" class="form-control" type="password" />
            </div>

            <button type="submit" style="width: 100%;" class="btn btn-primary">Login</button>
            <span>Don't have an account yet? Click to signup <a asp-controller="User" asp-action="SignUp">SignUp</a> </span>


        </div>

    </form>

</div>
